---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sivua ei löytynyt">
  <h1 class="text-xl mb-4">Sivua ei löytynyt</h1>
  <p>Valitettavasti pyytämääsi sivua ei löytynyt.</p>
</Layout>