---
import Layout from '../layouts/Layout.astro';
import { db, Category } from 'astro:db';
import Card from '../components/Card.astro';


const categories = await db.select().from(Category).all();
---

<Layout title="Taidekollektiivi - tiloissa">
	<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
		{
			categories.map((category) => (
				<Card name={category.name} id={category.id} />
			))
		}
	</div>
</Layout>